<h1>Listing beers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abv</th>
      <th>Ibu</th>
      <th>Type</th>
      <th>Released</th>
      <th>Best after</th>
      <th>Best before</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Parent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.abv %></td>
        <td><%= beer.ibu %></td>
        <td><%= beer.type %></td>
        <td><%= beer.released %></td>
        <td><%= beer.best_after %></td>
        <td><%= beer.best_before %></td>
        <td><%= beer.brewery_id %></td>
        <td><%= beer.style_id %></td>
        <td><%= beer.parent_id %></td>
        <td><%= link_to 'Show', beer %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
