<%= form_for(@beer_cellar) do |f| %>
  <% if @beer_cellar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer_cellar.errors.count, "error") %> prohibited this beer_cellar from being saved:</h2>

      <ul>
      <% @beer_cellar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :flags %><br>
    <%= f.number_field :flags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
